.table {
  margin-top: 250px;
  font-size: 20px;

  .table-content {
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    border-spacing: initial;

    background-color: #62656c;

    tr {
      .count-img {
        width: 30px;
      }

      th {
        padding: 5px;
        line-height: 100%;
      }

      td {
        padding: 5px;
        line-height: 100%;
        text-align: center;

        button {
          background: transparent;
          border-radius: 50%;
          width: 30px;
          height: 30px;

          &:hover {
            background: #2d2e31;
            opacity: 0.7;
          }
        }
      }
    }
  }
}