* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html {
    height: 100%;
}

html,
body {
    min-height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #0f0080;
}

input,
button,
textarea {
    font-family: inherit;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;

    font-size: 30px;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.container {
    margin-top: 20px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-translate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1200px;
    height: 300px;

    background-color: #62656c;
    border-radius: 15px;

    font-size: 30px;
}

.title {
    max-width: 1200px;
    text-align: center;

    background-color: #62656c;

    font-size: 30px;
    line-height: 100%;

    padding: 20px;
    margin-top: 250px;
    border-radius: 10px;
}
.card {
    cursor: pointer;

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    padding: 10px 20px 15px 20px;
    border-radius: 10px;

    line-height: 100%;
    background: #8f9299;

    &:hover {
        opacity: 0.7;
    }
}

.confirm {
    cursor: pointer;

    height: 100%;
    width: 100px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    border-radius: 15px;

    line-height: 100%;
    background: #8f9299;

    &:hover {
        opacity: 0.7;
    }
}

.button-change-html {
    max-width: 1200px;
    margin-top: 20px;

    color: black;
    background-color: #8f9299;
    text-align: center;

    padding: 20px;
    border-radius: 10px;

    font-size: 30px;
    line-height: 100%;

    &:hover {
        opacity: 0.7;
    }
}