* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html {
    height: 100%;
}

html,
body {
    min-height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #0f0080;
}

input,
button,
textarea {
    font-family: inherit;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;

    font-size: 30px;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.container {
    margin-inline: auto;
}

.header {
    top: 0;

    position: fixed;

    display: flex;
    justify-content: center;

    width: 100%;

    .header-content {
        background-color: #62656c;
        padding: 20px;

        display: flex;
        flex-direction: row;

        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

        .header-content-block {
            background-color: #8f9299;
            color: black;

            padding: 10px;
            margin-left: 10px;
            border-radius: 5px;

            line-height: 100%;
            font-size: 25px;
            font-weight: 600;
        }

        .header-content-block:first-child {
            margin-left: 0;
        }
    }
}